<!----------------------------------- parte del logo ------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" href="/inicio"><img src="../../../assets/img/logoEnd1.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    <!------------------------------- Div de Hoteles ------------------------------------>
    <div class="collapse navbar-collapse" id="navbarHoteles">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-warning">Hoteles</button>
            <div class="btn-group " role="group">
                <button id="hotelesNav" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu hidden" aria-labelledby="hotelesNav" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                    <a class="dropdown-item" id="apartamento" href="#">Apartamentos</a>
                    <a class="dropdown-item" id="campings" href="#">Campings</a>
                    <a class="dropdown-item" id="hoteles" href="#">Hoteles</a>
                    <a class="dropdown-item" id="newPost" href="#">Publicar nuevo hotel</a>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------- Div de Restaurantes -------------------------------->
    <div class="collapse navbar-collapse" id="navbarRestaurantes">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-warning">Restaurantes</button>
            <div class="btn-group" role="group">
                <button id="restaurantesNav" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu hidden" aria-labelledby="restaurantesNav" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                    <a class="dropdown-item" id="newPost" href="#">Publicar nuevo restaurante</a>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------- Div de Actividades -------------------------------->
    <div class="collapse navbar-collapse" id="navbarActividades">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-warning">Actividades</button>
            <div class="btn-group" role="group">
                <button id="actividadesNav" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu hidden" aria-labelledby="actividadesNav" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                    <a class="dropdown-item" id="newPost" href="#">Playas</a>
                    <a class="dropdown-item" id="newPost" href="#">Parques</a>
                    <a class="dropdown-item" id="newPost" href="#">Tiendas de animales</a>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------- Div de Consejos -------------------------------->
    <div class="collapse navbar-collapse" id="navbarConsejos">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-warning">Consejos</button>
            <div class="btn-group" role="group">
                <button id="consejosNav" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu hidden" aria-labelledby="consejosNav" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                    <a class="dropdown-item" id="newPost" href="#">Publicar nuevo consejo</a>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------- Div de login -------------------------------->
    <div class="collapse navbar-collapse" id="loginNav">
        
        <a href="/login">
            <img src="../../../assets/img/usuario.png">
        </a>
    </div>

    <!----------------------------------->
    <!-- final de la barra de navegacion-->