<!----------------------------------- parte del logo ------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" href="/inicio"><img src="../../../assets/img/logoEnd1.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                
              </span>
            </button>
    <!------------------------------- Div de Hoteles ------------------------------------>
    <div class="collapse navbar-collapse" id="navbarHoteles">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-warning"><a href="/alojamientos">Alojamientos</a></button>
            <div class="btn-group " role="group">
                <button id="hotelesNav" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu hidden" aria-labelledby="hotelesNav" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                    <a class="dropdown-item" id="apartamento" href="/apartamentos">Apartamentos</a>
                    <a class="dropdown-item" id="campings" href="/campings">Campings</a>
                    <a class="dropdown-item" id="hoteles" href="/hoteles">Hoteles</a>
                    <a class="dropdown-item" id="newPost" href="/publicar/alojamiento">Publicar nuevo alojamiento</a>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------- Div de Comercios -------------------------------->
    <div class="collapse navbar-collapse" id="navbarRestaurantes">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-warning"><a href="/comercios">Comercios</a></button>
            <div class="btn-group" role="group">
                <button id="restaurantesNav" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu hidden" aria-labelledby="restaurantesNav" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                    <a class="dropdown-item" id="restaurante" href="/restaurantes">Restaurantes</a>




                    <a class="dropdown-item" id="tienda" href="/tiendas">Tienda de animales</a>
                    <a class="dropdown-item" id="veterinario" href="/veterinarios">Veterinarios</a>
                    <a class="dropdown-item" id="newPost" href="/publicar/comercio">Publicar nuevo restaurante</a>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------- Div de login -------------------------------->
    <div class="collapse navbar-collapse" id="loginNav">

        <button (click)="ngClickRedirecciona()">
            <img src="../../../assets/img/usuario.png" (click)="ngClickRedirecciona()">
        </button>
        <button type="button" class="btn-warning  btn oculto" id="btn-logOut" (click)="servicioUser.logOut()">Cerrar sesión</button>
    </div>

    <!----------------------------------->
    <!-- final de la barra de navegacion-->