<!----------------------------------- parte del logo ------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" routerLink="/inicio" routerLinkActive="active-link"><img src="../../../assets/img/logoEnd1.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                
              </span>
            </button>
    <!------------------------------- Div de Hoteles ------------------------------------>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-warning"><a routerLink="/alojamientos" routerLinkActive="active-link">Alojamientos</a></button>
            <div class="btn-group " role="group">
                <button id="hotelesNav" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu hidden" aria-labelledby="hotelesNav" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                    <a class="dropdown-item" id="apartamento" routerLink="/apartamentos" routerLinkActive="active-link">Apartamentos</a>
                    <a class="dropdown-item" id="campings" routerLink="/campings" routerLinkActive="active-link">Campings</a>
                    <a class="dropdown-item" id="hoteles" routerLink="/hoteles" routerLinkActive="active-link">Hoteles</a>
                    <a class="dropdown-item" id="newPost" routerLink="/publicar/alojamiento" routerLinkActive="active-link">Publicar nuevo alojamiento</a>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------- Div de Comercios -------------------------------->
    <div class="collapse navbar-collapse" id="navbar">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-warning"><a routerLink="/comercios" routerLinkActive="active-link">Comercios</a></button>
            <div class="btn-group" role="group">
                <button id="restaurantesNav" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu hidden" aria-labelledby="restaurantesNav" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                    <a class="dropdown-item" id="restaurante" routerLink="/restaurantes" routerLinkActive="active-link">Restaurantes</a>
                    <a class="dropdown-item" id="tienda" routerLink="/tiendas" routerLinkActive="active-link">Tienda de animales</a>
                    <a class="dropdown-item" id="veterinario" routerLink="/veterinarios" routerLinkActive="active-link">Veterinarios</a>
                    <a class="dropdown-item" id="newPost" routerLink="/publicar/comercio" routerLinkActive="active-link">Publicar nuevo comercio</a>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------- Div de login -------------------------------->
    <div class="collapse navbar-collapse" id="loginNav">

        <button (click)="ngClickRedirecciona()">
            <img src="../../../assets/img/usuario.png" (click)="ngClickRedirecciona()">
        </button>
        <button type="button" class="btn-warning  btn oculto" id="btn-logOut" (click)="servicioUser.logOut()">Cerrar sesión</button>
    </div>

    <!----------------------------------->
    <!-- final de la barra de navegacion-->