<div class="grid">
    <div class="contenedor_usuarios" *ngFor="let user of listaCampos">
        <div class="usuarios formularioMostrar" id="vista{{user.id_usuario}}">

            <h2>{{ user.nombre}}</h2>
            <h2>{{ user.apellidos}}</h2><br>
            <h2>{{ user.email}}</h2><br>
            <h2>{{ user.telefono}}</h2><br>
            <h2>{{ user.f_nac}}</h2><br>
            <div class="botones">
                <div class="btn " (click)="ngOcultarFormulario(user.id_usuario) || ngMostrarFormulario(user.id_usuario)">Editar</div>
                <div class="btn " (click)="ngBorrarUsuario(user.id_usuario)">Eliminar</div>
                <div class="btn " (click)="ngOcultarFormulario1(user.id_usuario) || ngMostrarFormulario1(user.id_usuario)">Cambiar contraseña</div>
            </div>
        </div>

        <div id="{{user.id_usuario}}" class="formularioOculto usuarios">
            <form [formGroup]="formularioUpdate" (submit)="submit(user.id_usuario)">
                <label> Nombre: </label> <input type="text" formControlName="nombre" value="{{user.nombre}}"><br>

                <label>Apellidos: </label><input type="text" formControlName="apellidos" value="{{user.apellidos}}"><br>


                <label>Email: </label> <input type="text" formControlName="email" value="{{user.email}}"><br>


                <label> Telefono: </label><input type="number" formControlName="telefono" value="{{user.telfono}}"><br>


                <label> f_nac: </label><input type="date" formControlName="f_nac" value="{{user.f_nac}}"><br>



                <br><button type="submit" class="btn btn-warning">Guardar cambios</button>

            </form>
        </div>
        <div id="password{{user.id_usuario}}" class="formularioOculto usuarios">
            <form [formGroup]="formularioPassword" (submit)="ngRestartPassword(user.id_usuario)">
                <label>Contraseña: </label> <input type="password" formControlName="password"><br>

                <br><button type="submit" class="btn btn-warning" (click)="ngRestartPassword(user.id_usuario)">Guardar contraseña</button>

            </form>
        </div>
    </div>
</div>