<div class="grid">
    <div class="contenedor_tiendas" *ngFor="let tienda of listaTiendas">

        <div class="tiendas formularioMostrar" id="vista{{tienda.id_sitio}}">

            <h2>{{ tienda.nombre}}</h2>
            <h6>{{ tienda.descripcion}}</h6><br>
            <h6>{{ tienda.telefono}}</h6><br>
            <h6>{{ tienda.web}}</h6><br>
            <div id=puedeEditar *ngIf="puedeEditar(tienda.id_usuario) == true">
                <div class="botones">
                    <div id="botonEditar" class=" btn" (click)="ngOcultarFormulario(tienda.id_sitio) || ngMostrarFormulario(tienda.id_sitio); formularioUpdate.patchValue(tienda)">Editar</div>
                    <div class="btn" (click)="ngBorrarSitio(tienda.id_sitio)">Borrar</div>
                </div>
            </div>
        </div>

        <div id="{{tienda.id_sitio}}" class="formularioOculto tiendas">
            <form [formGroup]="formularioUpdate" (submit)="submit(tienda.id_sitio)">
                <label> Nombre del tienda: </label> <input type="text" formControlName="nombre"><br>

                <label>Descripcion: </label><input type="textarea" formControlName="descripcion"><br>


                <label>Precio: </label> <input type="number" formControlName="precio"><br>


                <label> Capacidad: </label><input type="number" formControlName="capacidad"><br>


                <label> Telefono: </label><input type="number" formControlName="telefono"><br>


                <label>Web: </label> <input type="text" formControlName="web"><br>

                <label>Ciudad: </label>
                <label>
                    <select formControlName="id_ciudad">
                    <option  *ngFor="let ciudades of listaCiudades" value="{{ciudades.id_ciudad}}">{{ciudades.provincia}}</option>
                    </select>
                </label><br>
                <label>Tipo sitios: </label>
                <label>
                    <select formControlName="id_tipo" value="{{tienda.id_tipo}}">{{tienda.nombre}}
                    <option  *ngFor="let tipoSitio of listaTipoSitios" value="{{tipoSitio.id_tipositio}}">{{tipoSitio.nombre}}</option>
                    </select>
                </label>

                <br><button type="submit" class="btng">Guardar cambios</button>

            </form>
        </div>
    </div>
</div>