.fichaRegistro {
    margin-top: 20%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 2%;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1px;
}

.contenedor {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 5%;
}

.fichaRegistro h3 {
    text-align: center;
    border-bottom: 2px solid white;
}

.formularioAlojamiento {
    display: flex;
}

label {
    display: inline-block;
    width: 150px;
}

.boton {
    background-color: #9E5B01;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.boton:hover {
    background-color: #5F3700;
}

.boton:active {
    position: relative;
    top: 1px;
}