.fichaRegistrar {
    margin-top: 200px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 50%;
    min-height: 100px;
    margin: auto;
    padding: 2%;
    color: white;
}

.contenedor {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 100px;
}

.fichaRegistrar h1 {
    text-align: center;
    border-bottom: 2px solid white;
}

.formularioRegistrar {
    display: flex;
}

label {
    display: inline-block;
    width: 150px;
}