<div class="contenedor">
    <div class="fichaRegistrar">
        <h1>Registrar</h1><br>

        <div class="formularioRegistro">
            <form [formGroup]="formularioRegistro" (submit)="submit()">
                <label>Nombre: </label> <input type="text" formControlName="nombre" required><br>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">

                    <div *ngIf="nombre.errors.required">
                        El nombre es obligatorio.
                    </div>
                </div>
                <label>Apellidos:</label> <input type="text" formControlName="apellidos" required><br>
                <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">

                    <div *ngIf="apellidos.errors.required">
                        El apellido es obligatorio.
                    </div>
                </div>

                <label>Email:</label><input type="text" formControlName="email" required><br>
                <div *ngIf="email.invalid && (email.dirty || email.touched)">

                    <div *ngIf="email.errors.required">
                        El email es obligatorio.
                    </div>
                </div>
                <label>Contraseña:</label> <input type="password" formControlName="password" required><br>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">

                    <div *ngIf="password.errors.required">
                        La contraseña es obligatoria.
                    </div>
                </div>
                <label>Telefono:</label> <input type="text" formControlName="telefono"><br>

                <label>Fecha de Nacimiento:</label> <input type="date" formControlName="f_nac" required>
                <div *ngIf="f_nac.invalid && (f_nac.dirty || f_nac.touched)">

                    <div *ngIf="f_nac.errors.required">
                        La fecha de nacimiento es obligatoria.
                    </div>
                </div>

                <label><button type="submit" [disabled]="!formularioRegistro.valid">Enviar</button></label>

            </form>
        </div>
    </div>
</div>