<div class="contenedor">
    <div class="fichaLogin">
        <h1>Login</h1><br>

        <div class="formulariologin">
            <form [formGroup]="formLogin" (submit)="submit()">
                <label><img src="../../../assets/img/usuario (1).png"></label><input type="text" formControlName="email" placeholder="Email"><br>
                <label><img src="../../../assets/img/contrasena.png"></label> <input type="password" formControlName="password" placeholder="Contraseña"><br>

                <button type="submit" class="boton" [disabled]="!formLogin.valid">Enviar</button>

            </form>
        </div>
        <a href="/registrar" class="boton">Registro</a>
    </div>
</div>