<div class="contenedor fondoImagen">
    <div class="texto">
        <h1>¿Buscas un lugar relajante o divertido para pasar con su mascota?</h1>
    </div>
    <div class="opciones">
        <a class="navbar-brand" href="/inicio"><img src="../../../assets/img/logoEnd2.png"></a>
        <form [formGroup]="formularioBusqueda" (submit)="submit()">
            <!---------------- /Lista despeglable con las opciones para buscar------------------->
            <div class="form-group">
                <select formControlName="id_tipo">
                    <option  *ngFor="let tipoSitio of listaTipoSitios" value="{{tipoSitio.id_tipositio}}">{{tipoSitio.nombre}}</option>
                </select>
            </div>
            <!---------------- Input texto para buscar------------------->
            <div class="form-group">
                <select formControlName="id_ciudad">
                    <option  *ngFor="let ciudades of listaCiudades" value="{{ciudades.id_ciudad}}">{{ciudades.provincia}}</option>
                </select>
            </div>
            <!------------------- Boton para buscar ------------------------------>
            <div class="form-group">
                <button type="submit" class="btn btn-warning disabled">Buscar</button>
            </div>
        </form>
    </div>