<div class="contenedor fondoImagen">
    <div class="texto">
        <h1>¿Buscas un lugar relajante o divertido para pasar con su mascota?</h1>
    </div>
    <div class="opciones">
        <!---------------- /Lista despeglable con las opciones para buscar------------------->
        <div class="form-group">
            <select class="form-control" id="listaOpciones">
                  <option>Hoteles</option>
                  <option>Restaurantes</option>
                  <option>Actividades</option>
                </select>
        </div>
        <!---------------- Input texto para buscar------------------->
        <div class="form-group">
            <input type="buscar" class="form-control" id="buscador" placeholder="Buscador...">
        </div>
        <!------------------- Boton para buscar ------------------------------>
        <div class="form-group">
            <button type="button" class="btn btn-warning disabled">Buscar</button>
        </div>

    </div>