<div class="contenedor_alojamiento" *ngFor="let alojamiento of listaAlojamientos">
    <div class="alojamiento formularioMostrar" id="vista{{alojamiento.id_sitio}}">

        <h2>{{ alojamiento.nombre}}</h2>
        <h6 class="">{{ alojamiento.descripcion}}</h6><br>
        <div id="botonEditar" class=" btn btn-primary" (click)="ngOcultarFormulario(alojamiento.id_sitio) || ngMostrarFormulario(alojamiento.id_sitio)">Editar</div>

    </div>
    <div id="{{alojamiento.id_sitio}}" class="formularioOculto alojamiento">
        <form [formGroup]="formularioUpdate" (submit)="submit(alojamiento.id_sitio)">
            <label> Nombre del alojamiento: </label> <input type="text" formControlName="nombre" value="{{alojamiento.nombre}}"><br>

            <label>Descripcion: </label><input type="textarea" formControlName="descripcion" value="{{alojamiento.descripcion}}"><br>


            <label>Precio: </label> <input type="number" formControlName="precio" value="{{alojamiento.precio}}"><br>


            <label> Capacidad: </label><input type="number" formControlName="capacidad" value="{{alojamiento.capacidad}}"><br>


            <label> Telefono: </label><input type="number" formControlName="telefono" value="{{alojamiento.telefono}}"><br>


            <label>Web: </label> <input type="text" formControlName="web" value="{{alojamiento.web}}"><br>

            <label>Ciudad: </label>
            <label>
                    <select formControlName="id_ciudad" value="{{alojamiento.id_ciudad}}">{{alojamiento.provincia}}
                    <option  *ngFor="let ciudades of listaCiudades " value="{{ciudades.id_ciudad}} ">{{ciudades.provincia}}</option>
                    </select>
                </label><br>
            <label>Tipo sitios: </label>
            <label>
                    <select formControlName="id_tipo" value="{{alojamiento.id_tipo}}">{{alojamiento.nombre}}
                    <option  *ngFor="let tipoSitio of listaTipoSitios" value="{{tipoSitio.id_tipositio}}">{{tipoSitio.nombre}}</option>
                    </select>
                </label>

            <br><button type="submit" class="boton ">Guardar cambios</button>

        </form>
    </div>

</div>