.contenedor_alojamiento {
    margin: 10px auto;
    color: white;
    justify-content: space-around;
    align-items: flex-start;
    justify-items: center;
    display: inline-block;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "cabecera" "cuerpo";
    padding-left: 10px;
}

.alojamiento {
    display: inline-block;
    background-color: rgba(15, 15, 15, 0.89);
    border: 2px rgb(7, 7, 7) solid;
    border-radius: 4px;
    width: fit-content;
    font: bold 90% monospace;
    grid-area: cuerpo;
    margin: 10px;
    font-size: 17px;
    max-width: 420px;
}

.title {
    grid-area: cabecera;
    align-content: center;
}

.formularioOculto {
    display: none;
}