<div class="grid">
    <div class="contenedor_hoteles" *ngFor="let hoteles of listaHoteles">

        <div class="hotel formularioMostrar" id="vista{{hoteles.id_sitio}}">

            <h2>{{ hoteles.nombre}}</h2>
            <h6>{{ hoteles.descripcion}}</h6><br>
            <h6>{{ hoteles.precio}} €/Noche</h6><br>
            <h6>{{ hoteles.telefono}}</h6><br>
            <h6>{{ hoteles.web}}</h6><br>
            <div id=puedeEditar *ngIf="puedeEditar(hoteles.id_usuario) == true">
                <div class="botones">
                    <div id="botonEditar" class=" btn" (click)="ngOcultarFormulario(hoteles.id_sitio) || ngMostrarFormulario(hoteles.id_sitio)">Editar</div>
                    <div class="btn" (click)="ngBorrarSitio(hoteles.id_sitio)">Borrar</div>
                </div>
            </div>
        </div>


        <div id="{{hoteles.id_sitio}}" class="formularioOculto hotel">
            <form [formGroup]="formularioUpdate" (submit)="submit(hoteles.id_sitio)">
                <label> Nombre del apartamento: </label> <input type="text" formControlName="nombre" value="{{hoteles.nombre}}"><br>

                <label>Descripcion: </label><input type="textarea" formControlName="descripcion" value="{{hoteles.descripcion}}"><br>


                <label>Precio: </label> <input type="number" formControlName="precio" value="{{hoteles.precio}}"><br>


                <label> Capacidad: </label><input type="number" formControlName="capacidad" value="{{hoteles.capacidad}}"><br>


                <label> Telefono: </label><input type="number" formControlName="telefono" value="{{hoteles.telefono}}"><br>


                <label>Web: </label> <input type="text" formControlName="web" value="{{hoteles.web}}"><br>

                <label>Ciudad: </label>
                <label>
                    <select formControlName="id_ciudad" value="{{hoteles.id_ciudad}}">{{hoteles.provincia}}
                    <option  *ngFor="let ciudades of listaCiudades " value="{{ciudades.id_ciudad}} ">{{ciudades.provincia}}</option>
                    </select>
                </label><br>
                <label>Tipo sitios: </label>
                <label>
                    <select formControlName="id_tipo" value="{{hoteles.id_tipo}}">{{hoteles.nombre}}
                    <option  *ngFor="let tipoSitio of listaTipoSitios" value="{{tipoSitio.id_tipositio}}">{{tipoSitio.nombre}}</option>
                    </select>
                </label>

                <br><button type="submit" class="btn">Guardar cambios</button>

            </form>
        </div>
    </div>
</div>