<div class="grid">
    <div class="contenedor_veterinarios" *ngFor="let veterinario of listaVeterinarios">

        <div class="veterinarios formularioMostrar" id="vista{{veterinario.id_sitio}}">

            <h2>{{ veterinario.nombre}}</h2>
            <h6>{{ veterinario.descripcion}}</h6><br>
            <h6>{{ veterinario.telefono}}</h6><br>
            <h6>{{ veterinario.web}}</h6><br>
            <div id=puedeEditar *ngIf="puedeEditar(veterinario.id_usuario) == true">
                <div class="botones">
                    <div id="botonEditar" class="btn" (click)="ngOcultarFormulario(veterinario.id_sitio) || ngMostrarFormulario(veterinario.id_sitio); formularioUpdate.patchValue(veterinario)">Editar</div>
                    <div class="btn" (click)="ngBorrarSitio(veterinario.id_sitio)">Borrar</div>
                </div>
            </div>
        </div>

        <div id="{{veterinario.id_sitio}}" class="formularioOculto veterinarios">
            <form [formGroup]="formularioUpdate" (submit)="submit(veterinario.id_sitio)">
                <label> Nombre del veterinario: </label> <input type="text" formControlName="nombre"><br>

                <label>Descripcion: </label><input type="textarea" formControlName="descripcion"><br>


                <label>Precio: </label> <input type="number" formControlName="precio"><br>


                <label> Capacidad: </label><input type="number" formControlName="capacidad"><br>


                <label> Telefono: </label><input type="number" formControlName="telefono"><br>


                <label>Web: </label> <input type="text" formControlName="web"><br>

                <label>Ciudad: </label>
                <label>
                    <select formControlName="id_ciudad">
                    <option  *ngFor="let ciudades of listaCiudades" value="{{ciudades.id_ciudad}}">{{ciudades.provincia}}</option>
                    </select>
                </label><br>
                <label>Tipo sitios: </label>
                <label>
                    <select formControlName="id_tipo" value="{{veterinario.id_tipo}}">{{veterinario.nombre}}
                    <option  *ngFor="let tipoSitio of listaTipoSitios" value="{{tipoSitio.id_tipositio}}">{{tipoSitio.nombre}}</option>
                    </select>
                </label>

                <br><button type="submit" class="btn">Guardar cambios</button>

            </form>
        </div>
    </div>
</div>